.home-page{
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    font-family: 'Hind Madurai', sans-serif;
}
.home-page .title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home-page .title img{
    width: 60vw;
    height: auto;
    margin-bottom: 10%;
}
.home-page .title h1{
    margin: 40px 10px;
    text-align: center;
    font-size: 2.2em;
    font-weight: 400;
    color: var(--text-color1);
    font-family: 'Cormorant', serif;
}
.home-page.dark .title h1{
    color: var(--dark-color1);
}
.home-page .title h1 span{
    font-size: 1.1em;
    font-weight: 900;
    color: var(--text-color1);
}
.dark .title h1 span{
    color: var(--dark-color1);
}
.home-page .home-page-contain{
    opacity: 0;
    transition: all 2s;
    padding: 0 60px
}
.home-page .home-page-contain.zoom-out{
    opacity: 1;
}
.home-page-contain .section-uml-merise .title{
    font-family: var(--font-title);
    color: var(--text-color1);
    font-size: 4em;
    margin-bottom: 40px;
}
.dark .home-page-contain .section-uml-merise .title{
    color: var(--dark-color1);
    display: flex;
    align-self: center
}
.home-page .home-page-contain p{
    color: var(--text-color1);
}
.dark .home-page .home-page-contain p {
    color: var(--dark-color1);
    font-weight: 500;
}
.home-page .home-page-contain .section-uml-merise{
    display: flex;
    flex-direction: column;
}
.home-page .home-page-contain .section-uml-merise .text-uml-home{
    align-self: flex-end;
    text-align: right;
    max-width: 80%;
}
.home-page .home-page-contain .section-uml-merise .text-merise-home{
    text-align: left;
    max-width: 80%;
}
.text-merise-home ul{
    color: var(--text-color1);
}
.dark .text-merise-home ul{
    color: var(--dark-color1);
}
.home-page .home-page-contain .text-bot{
    text-align: center;
    padding: 40px 0;
}
.section-uml-merise span {
    font-family: 'Cormorant', serif;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 700;
}
hr {
    margin: 60px 80px;
}
@media (max-width: 820px) {
    .home-page .home-page-contain{
        padding: 0;
    }
    .home-page .home-page-contain .section-uml-merise .text-uml-home,
    .home-page .home-page-contain .section-uml-merise .text-merise-home{
        max-width: none;
        text-align: justify;
    }
}