.home-page{
    display: flex;
    flex-direction: column;
    margin: 80px 0;
    font-family: 'Fira Sans', sans-serif;
}
.home-page .title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.home-page .title img{
    width: 60vw;
}
.home-page .title h1{
    margin: 50px;
    text-align: center;
    font-size: 2.2em;
    font-weight: 400;
    color: #844d1c;
    font-family: 'Cormorant', serif;
}
.home-page .title h1 span{
    font-size: 1.1em;
    font-weight: 900;
    color: #844d1c;
}

.home-page .home-page-contain p {
    font-size: 1.2em;
    text-align: justify;
}
.home-page .home-page-contain .section-uml-merise{
    display: flex;
    flex-direction: column;
    padding: 30px;

}
.home-page .home-page-contain .section-uml-merise .text-uml-home{
    max-width: 70%;
    margin: 40px 0;
    text-align: justify;
    font-size: 1.4em;
}
.home-page .home-page-contain .section-uml-merise .text-merise-home{
    max-width: 70%;
    margin: 40px 0;
    align-self: flex-end;
    text-align: right;
    font-size: 1.4em;
}
.home-page .home-page-contain .text-bot{
    font-size: 1.6em;
    text-align: center;
}
.section-uml-merise span {
    font-family: 'Cormorant', serif;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    color: #844d1c;
}

