
.UmlMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UmlMain .searchContain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
.UmlMain input{
    padding: 10px 20px ;
    align-self: flex-start;
    border: none;
    border-bottom: 1px solid #00771A;
    background-color: transparent;
    margin: 20px 0;
    width: 100%;
    outline: none;
    color: #844d1c;
    font-family: 'Cormorant Unicase', serif;
    font-size: 1.4em;
}

.UmlMain .searchContain .selectedItemsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.selected-item{
    background-color: #ffffff;
    padding: 10px;
    font-size: 0.8em;
    margin: 0 4px 6px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #00430e;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
}
.selected-item:hover{
    color: #00430f65;
}
.selected-item .icons-delete{
    margin: 0 6px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #00430e;
}
.UmlMain .searchContain .selectedItemsContainer p{
    display: flex;
    flex-wrap: wrap;
} 
.UmlMain .umlSearch{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}
.UmlMain .blockDiag{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.blockDiag h3{
    color: #D6955B;
    font-family: 'Cormorant', serif;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: 700;
    width: 100%;
    font-weight: 700;
    font-weight: 900;
}
.blockDiag .items{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}
.blockDiag .items a{
    padding: 10px;
    font-size: 0.8em;
    margin: 0 10px 4px 0px;
    background-color: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #844d1c;
    font-weight: 700;
    transition: all 0.4s;
}
.blockDiag .items a:hover{
    transform: scale(1.1);
    background-color: rgba(214, 148, 91, 0.279)
}



.umlContain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin: 10% 0;
}
.umlCard{
    height: 480px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Hind Madurai', sans-serif;
    margin: 60px 0;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #c5b053;
    opacity: 0;
    transition: all 1.3s;
}
.umlCard.zoom-out{
    opacity: 1;
}
.umlCard h4{
    font-size: 2em;
    margin: 20px;
    color: #D6955B;
    font-weight: 700;
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
    text-align: center ;
}
.umlCard p{
    font-size: 1.2em;
    text-align: justify;
}
.umlCard .plusInfos{
    margin: 20px 0;
    padding: 10px;
    width: 70%;
    font-family: 'Cormorant Unicase', serif;
    font-size: 1.6em;
    background-color: #ffffff;
    border: none;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #D6955B;
    font-weight: 700;
    transition: all 0.4s;
    cursor: pointer;
}
.umlCard .plusInfos:hover{
    background-color: #7855364d;
    color: #FFF;
}