.UmlMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UmlMain .searchContain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
.UmlMain input{
    padding: 10px 10px ;
    align-self: flex-start;
    border-radius: 10px;
    border: 0.1px solid #5959593e;
    background-color: hsla(0, 0%, 100%, 0.317);
    margin: 20px 0;
    width: 200px;
    outline: none;
}

.UmlMain .searchContain .selectedItemsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.selected-item{
    background-color: #ffffff81;
    padding: 10px;
    font-size: 0.7em;
    border-radius: 10px;
    margin: 0 4px 6px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #572F79;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selected-item button{
    margin: 0 6px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #7D46AC;
}
.UmlMain .searchContain .selectedItemsContainer p{
    display: flex;
    flex-wrap: wrap;
} 
.UmlMain .umlSearch{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}
.UmlMain .blockDiag{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.blockDiag h3{
    color: #7D46AC;
    font-size: 1.2em;
    width: 30%;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}
.blockDiag .items{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}
.blockDiag .items a{
    padding: 10px;
    font-size: 0.7em;
    border-radius: 10px;
    margin: 0 10px 4px 0px;
    background-color: #7c46acd4;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    transition: all 0.3s;
}
.blockDiag .items a:hover{
    transform: scale(1.1);
    background-color: #3392ffb6;
}
.umlContain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    margin: 10% 0;
}
.umlCard{
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px 0;
    border-radius: 20px;
    width: 340px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0 20px;
    background-color: #7c46ac17;
}
.umlCard h4{
    font-size: 1.6em;
    margin: 20px;
    color: #fff;
    font-weight: 900;
}
.umlCard p{
    font-size: 0.8em;
    text-align: justify;
}
.umlCard .plusInfos{
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    background-color: #7c46ac93;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    transition: all 0.4s;
    cursor: pointer;
}
.umlCard .plusInfos:hover{
    background-color: #3392ff86;
}