.UmlMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}

.UmlMain .searchContain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.UmlMain input {
    padding: 10px 20px;
    align-self: flex-start;
    border: none;
    border-bottom: 1px solid var(--text-color1);
    background-color: transparent;
    margin: 20px 0;
    width: 100%;
    outline: none;
    color: var(--text-color1);
    font-family: var(--font-title);
    font-size: 1.4em;
}

.UmlMain.dark input {
    color: var(--dark-color1);
}

.UmlMain .searchContain .selectedItemsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selected-item {
    background-color: var(--bg-color1);
    padding: 10px;
    font-size: 0.8em;
    margin: 0 4px 6px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--text-color2);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
}

.dark .selected-item {
    color: var(--dark-color1);
}

.dark .selected-item {
    background-color: #fef0e55a;
}

.selected-item:hover {
    color: #43390065;
}

.selected-item .icons-delete {
    margin: 0 6px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--dark-color1);
}

.UmlMain .searchContain .selectedItemsContainer p {
    display: flex;
    flex-wrap: wrap;
}

.UmlMain .umlSearch {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

.UmlMain .blockDiag {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.blockDiag h3 {
    color: var(--text-color2);
    font-family: 'Cormorant', serif;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: 700;
    width: 100%;
    font-weight: 700;
}

.blockDiag h3.dark {
    color: var(--dark-color2);
}

.blockDiag .items {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.blockDiag .items a {
    padding: 10px;
    font-size: 0.8em;
    margin: 0 10px 4px 0px;
    background-color: var(--bg-color1);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #844d1c;
    font-weight: 700;
    transition: all 0.4s;
}

.dark .blockDiag .items a {
    background-color: #ffd0a636;
    color: var(--text-color2);
}

.blockDiag .items a:hover {
    transform: scale(1.1);
    background-color: rgba(214, 148, 91, 0.279)
}

.umlContain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin: 10% 0;
}

.umlCard {
    height: 480px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Hind Madurai', sans-serif;
    margin: 60px 0;
    padding: 20px;
    background-color: var(--bg-color1);
    border: 1px solid #c5b053;
    opacity: 0;
    transition: opacity 1.3s;
    position: relative;
    overflow: hidden;
}
/* .umlCard::before{
    content: "";
    position: absolute;
    background-image: url(../../assets/images/bg-img.jpg);
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.15;
    transition: all 10s;
    pointer-events: none;
}
.umlCard:hover::before {
    pointer-events: none;
    transform: scale(1.5);
} */

.dark .umlCard {
    background-color: #fbebde34;
}

.umlCard.zoom-out {
    opacity: 1;
}

.umlCard h4 {
    font-size: 2em;
    margin: 20px;
    color: var(--text-color2);
    font-weight: 700;
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
    text-align: center;
}

.dark .umlCard h4 {
    color: var(--dark-color1);
}

.umlCard p {
    font-size: 1.2em;
    text-align: justify;
}

.dark .umlCard p {
    color: var(--dark-color2);
}

.umlCard .plusInfos {
    margin: 20px 0;
    padding: 10px;
    width: 70%;
    font-family: 'Cormorant Unicase', serif;
    letter-spacing: -2px;
    font-size: 1.6em;
    background-color: var(--bg-color1);
    border: none;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--text-color2);
    font-weight: 700;
    transition: all 0.4s;
    cursor: pointer;
}

.dark .umlCard .plusInfos {
    background-color: #ffd0a636;
    color: var(--dark-color1);
}

.umlCard .plusInfos:hover {
    background-color: #7855364d;
    color: #FFF;
}